.formarea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 10px;
  .todo-input {
    border-radius: 10px;
    height: 50px;
    margin-right: 25px;
  }
  .todo-add {
    margin: 0 px;
    border-radius: 50px;
    font-weight: 500;
    padding: 10px;
    background-color: limegreen;
  }
}
